/* @IMPORT FONTS */
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

/* BASE */
body{
    
    line-height: 1;
    font-smoothing: antialiased;
}
#particles-js{
    width: 100%;
    height: 500px;
}

/**
 * ANIMATION - FLIP
 */
.m-flip{
    overflow: hidden;
    cursor: pointer;
    padding-left: 40%;
   
}
.m-flip_item{
    display: block;
    position: relative;
    top: 0;
    transition: top .2s ease-out 0s;
    &:nth-child(1){
        color: #666;
    }
}
