/* @IMPORT FONTS */
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

/* BASE */
body{
    
    line-height: 1;
    font-smoothing: antialiased;
}
#app{
    width: 100%;
    height: 700px;
    background-image: url(/assets/img/home-office.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 5% 0 0;
    
}

/**
 * ANIMATION - FLIP
 */
.m-flip{
    overflow: hidden;
    cursor: pointer;
    padding-left: 40%;
   
}
.m-flip_item{
    display: block;
    position: relative;
    top: 0;
    transition: top .2s ease-out 0s;
    &:nth-child(1){
        color: #666;
    }
}
