/*estilos para navegador*/

* {
    margin: 0;
    padding: 0;
}

.nav-wrapper {
    background-color: #1a0b04;
}

.navbar {
    width: 100%;
}

.material-icons {
    position: fixed;
    color: yellow;
}

.hide-on-med-and-down {
    position: fixed;
    width: 100%;
    background-color: #1a0b04;
    font-family: 'Cinzel', serif;
    height: 90px;
    z-index: 1;
}

.nav-wrapper a:hover {
    background-color: #F5CA9D;
}

.logo {
    font-family: 'Pacifico', cursive;
    align-content: center;
}

.logo-pequeno {
    width: 150px;
    height: 70px;
    margin-top: 10px;
    margin-left: 50px;
}

.logo-central {
    margin-top: 200px;
    margin-left: 500px;
    position: absolute;
    width: 40%;
    height: 300px;
}

.espacio {
    margin-left: 10%;
}

.type {
    position: absolute;
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
}

.hide-on-med-and-down a {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}


/*estilos navegador alterno*/

.logo-pequeno-side {
    width: 200px;
    height: 100px;
    margin-left: 20px;
}

.side-nav .presentar {
    display: inline-flex;
    margin-top: 20px;
}

.side-nav {
    background-color: #1a0b04;
}

.colorHam {
    color: darkorange;
}

.side-nav li a:hover {
    background-color: #F5CA9D;
}

.nav-wrapper .side-nav li a {
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
}

.userView {
    background-color: #1a0b04;
    opacity: .6;
}

.regresarMenu a {
    color: white;
    font-size: 2em;
}

.regresarMenu2 a {
    color: black;
    font-size: 2em;
}


/* estilos para seccion de inicio*/

#inicio {
    width: 100%;
    height: 800px;
    background-image: url(/assets/img/ciudad.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-family: sans-serif;
    margin: 0 auto;
}


/*estilos para el footer*/

.page-footer {
    background-color: #1a0b04;
}

.footer-copyright {
    background-color: #1a0b04;
}

.presentarFooter {
    display: inline;
    height: 70px;
    background-color:#1a0b04; 
}


/*codigo para el parallax*/

.parallax-container {
    height: 700px;
}


/*estilos de la seccion de about me*/

.subtitulo {
    font-family: 'Cinzel Decorative', cursive;
    color: #1a0b04;
    margin-top: 30px;
}

.letra2 {
    font-family: 'Old Standard TT', serif;
    font-size: 2em;
    text-align: justify;
    color: white;
}

.letra-C {
    font-family: 'Alex Brush', cursive;
    font-size: 80px;
    float: inherit;
    clear: both;
}

.texto-container {
    position: relative;
    line-height: 50px;
    padding-left: 50px;
}

#aboutMe {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
}

.punto {
    color: white;
    margin-top: 40px;
}

.punto-b {
    color: #1a0b04;
    margin-top: 40px;
}

#acerca {
    margin-top: 50px;
}

.tipo-letra {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    padding-top: 30px;
}

.mg-top {
    margin-top: 50px;
}

.hobbie-icon {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    width: auto;
    height: auto;
}

.foto {
    height: 700px!important;
    margin-top: 70px;
    border-style: solid;
    border-width: 10px;
    border-color: #1a0b04;
}


/* estilos para los iconos de servicios*/

#habilidades {
    width: 100%;
    height: 770px;
    padding-bottom: 100px;
    background-color: #1a0b04;
}

.serv {
    padding: 50px;
    position: relative;
}

.progress {
    height: 10px;
    border-radius: 5px;
    background-color: #f0eaf7;
}

.determinate {
    background-color: #ffc700!important;
}

.porciento {
    font-size: 1.25em;
    color: #f5f5f5;
}

.name {
    padding-bottom: 16px;
}

.habilidad-progreso {
    padding: 0 5em 2em 5em !important;
}


/*codigo para media queries*/

@media screen and (min-width: 320px) and (max-width: 732px) {
    .logo-central {
        margin-top: 200px;
        margin-left: 50px;
        position: absolute;
        width: 70%;
        height: 600px;
    }
    .type {
        position: absolute;
        font-size: 20px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        margin-left: 5px;
        margin-top: 0;
    }
    .subtitulo {
        font-size: 15px;
    }
    .subtitulo2 {
        font-size: 15px;
        font-family: 'Cinzel Decorative', cursive;
        color: #1a0b04;
        margin-top: 30px;
    }
    .tipo-letra {
        font-size: 15px;
        padding-top: 10px;
    }
    .mg-top {
        margin-top: 50px;
    }
    .hobbie-icon {
        width: 30px;
        height: 30px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
    }
    #aboutMe {
        width: 100%;
        height: 700px;
    }
    #habilidades {
        width: 100%;
        height: auto;
    }
    .side-nav {
        width: 70%;
        height: 70%;
        opacity: .8;
        text-align: center;
    }
    .side-nav ul li a:hover {
        background-color: #F5CA9D;
    }
    #inicio {
        height: 700px;
    }
    .texto-container {
        line-height: 20px;
    }
    .foto {
        width: 50%;
        height: 200px!important;
        margin-top: 30px;
        border-style: solid;
        border-width: 10px;
        border-color: #1a0b04;
        margin-bottom: 10px;
    }
    .serv {
        padding: 20px;
        position: relative;
    }
}

@media screen and (min-width: 733px) and (max-width: 1440px) {
    .punto {
        display: none;
    }
    .logo-central {
        margin-top: 100px;
        margin-left: 120px;
        position: absolute;
        width: 70%;
        height: 700px;
    }
    .type {
        position: absolute;
        font-size: 25px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
    }
    .subtitulo {
        font-size: 20px;
        margin-top: 80px!important;
    }
    .tipo-letra {
        font-size: 20px;
        padding-top: 10px;
    }
    .mg-top {
        margin-top: 50px;
    }
    .hobbie-icon {
        width: 50px;
        height: 50px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
    }
    .foto {
        width: 50%;
        height: 300px!important;
        margin-top: 100px;
        border-style: solid;
        border-width: 10px;
        border-color: #1a0b04;
    }
    .hide-on-med-and-down a {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .espacio {
        margin-left: 1%!importannt;
    }
    #aboutMe {
        width: 100%;
        height: 630px;
    }
    #habilidades {
        width: 100%;
        height: auto;
    }
    .side-nav ul li {
        width:
    }
    .side-nav {
        width: 50%;
        height: 70%;
    }
    .texto-container {
        line-height: 25px;
    }
}
